@font-face {
  font-family: "Aesthetik Script";
  src: url(./fonts/AesthetikScript-7ZnV.ttf);
}

:root {
  --primary-accent: #a3291b;
  --secondary-accent: #f2c14e;
  --body-text: #1f2a33;
  --background-color: #f8e8ce;
  --third-accent: #3c6e60;
  --headings-font: "Playfair Display";
  --body-font: "Work Sans";
  --menu-items-names-font: "PT Serif";
  --menu-items-desc-font: "Roboto";
  --logo-font: "Aesthetik Script";
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: var(--background-color);
  color: var(--body-text);
  font-family: var(--body-font), sans-serif;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tab-bar {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;

  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab {
  width: 150px;
  padding: 20px 0;
  background: white;
  color: var(--third-accent);
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  cursor: pointer;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.indicator {
  width: 150px;
  height: 3px;
  background: #2196f3;
  position: absolute;
  margin-top: 58px;
  margin-left: 0;

  -webkit-transition: margin 0.5s ease;

  transition: margin 0.5s ease;
}

.circle {
  width: 0px;
  height: 0px;
  position: absolute;
}

.light .circle {
  background: white;
}
.dark .circle {
  background: black;
}

.anim {
  opacity: 0.2;
  -webkit-animation: touch 1.2s ease-out;
  animation: touch 1.2s ease-out;
}

@-webkit-keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    margin: -300px;
  }
}

@keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    margin: -300px;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: var(--primary-accent);
  height: 100px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-right: 24px;
}

.logo {
  font-family: var(--logo-font);
  font-size: 32px;
  width: 100%;
  padding-left: 16px;
  color: var(--secondary-accent);
}

.filler {
  width: 100%;
}

#content {
  display: flex;
  margin: 0 auto;
  padding-top: 24px;
}

.page-tab {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-color: #a3291b;
  border-radius: 5px;
  padding: 24px;
  min-width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-accent);
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  font-family: var(--menu-items-desc-font);
}

.container h1 {
  margin: 16px;
}

.address {
  width: 80%;
  text-align: center;
  text-wrap: pretty;
}

.title {
  font-family: var(--menu-items-names-font);
}
